.chordDiagramsContainer{
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5%;
    border-bottom: 5px solid #2878AE;
}

.chordDiagramsList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chordDiagramsIframe{
    box-sizing: border-box;
    width: 5em;
    height: 7em;
    border: none;
}