.chordDiagramsWrapper{
    display: flex;
    flex-direction: column;
}

.chordDiagramsContainer{
    display: flex;
    gap: 0.5em;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 97%);
    border-radius: 5%;
    border-bottom: 5px solid #2878AE;
}

.chordDiagramsList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chordDiagramsIframe{
    box-sizing: border-box;
    width: 5em;
    height: 7em;
    border: none;
}

.logoContainer{
    background-color: hsl(0, 0%, 97%);
    border-radius: 5%;
    padding: 1em;
    border-bottom: 5px solid #2878AE;
    text-align: center;
    margin-top: 2em;
}

.logoContainer h1{
    font-family: "bonodi moda", serif;
    font-size: 4rem;
    font-weight: 900;
}

.logoContainer h2{
    font-weight: 400;
}

@media(max-width: 475px){
    .chordDiagramsWrapper{
        flex-direction: column-reverse;
        gap: 1em;
    }
}

@media(max-width:768px){
    .logoContainer{
        width: 17em;
    }

    .chordDiagramsContainer{
        width: 17em;
    }
}