.songList{
    display: flex;
    padding: 1em;
    flex-direction: column;
    text-align: center;
    gap: .5em;
    margin: 1em;
    border-radius: 5%;
    background-color: hsl(0, 0%, 97%);
    border-bottom: 5px solid #2878AE;
}

.chordProgList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: .5em;
}

.chordProg{
    background-color: hsl(0, 0%, 97%);
    border: 1px solid #2878AE;
    text-align: center;
    padding: .5em;
    border-radius: 1em;
}