*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

html, body{
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
}

.mainContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wheelWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.arrowContainer{
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
}

.arrowContainer img{
    width: 32x;
    height: 32px;
}

.wheelContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(345deg);
    transition: transform 0.8s ease;
}

.majorKeys{
    position: relative;
    width: 600px;
    height: 600px;
    font-size: 1em;
    overflow: hidden;
    border-radius: 50%;
}

.majorKeys .note{
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0% 100%;
    width: 50%;
    height: 50%;
    rotate: 0deg;
    overflow: hidden;
}

.minorKeys{
    position: absolute;
    width: 300px;
    height: 300px;
    font-size: 1em;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid black;
}

.minorKeys .note{
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0% 100%;
    width: 50%;
    height: 50%;
    rotate: 0deg;
    overflow: hidden;
}

.wheelBtn{
    border: none;
    border-bottom: 5px solid black;
    border-radius: 25px;

    padding: 16px;
    width: fit-content;
    background-color: #89B0AE;
}


/*angle rotations for every note in the mayor circle*/
.majorKeys .note:first-child{
    transform: rotate(0deg) skewY(-60deg);
}

.majorKeys .note .noteText{
    position: absolute;
    left: -100%;
    text-align: center;
    padding: 1em;
    width: 200%;
    height: 200%;
    transform: skewY(60deg) rotate(15deg); 
}


.majorKeys .note:nth-child(2){
    transform: rotate(30deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(3){
    transform: rotate(60deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(4){
    transform: rotate(90deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(5){
    transform: rotate(120deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(6){
    transform: rotate(150deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(7){
    transform: rotate(180deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(8){
    transform: rotate(210deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(9){
    transform: rotate(240deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(10){
    transform: rotate(270deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(11){
    transform: rotate(300deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(12){
    transform: rotate(330deg) skewY(-60deg); 
}



/*colors for every note in the mayor circle*/

.majorKeys .note:first-child .noteText{
    background-color: #BEE3DB;
}

.majorKeys .note:nth-child(2) .noteText{
    background-color: #89B0AE;
}

.majorKeys .note:nth-child(3) .noteText{
    background-color: #BEE3DB;
}

.majorKeys .note:nth-child(4) .noteText{
    background-color: #89B0AE;
}

.majorKeys .note:nth-child(5) .noteText{
    background-color: #BEE3DB;
}

.majorKeys .note:nth-child(6) .noteText{
    background-color: #89B0AE;
}

.majorKeys .note:nth-child(7) .noteText{
    background-color: #BEE3DB;
}

.majorKeys .note:nth-child(8) .noteText{
    background-color: #89B0AE;
}

.majorKeys .note:nth-child(9) .noteText{
    background-color: #BEE3DB;
}

.majorKeys .note:nth-child(10) .noteText{
    background-color: #89B0AE;
}

.majorKeys .note:nth-child(11) .noteText{
    background-color: #BEE3DB;
}

.majorKeys .note:nth-child(12) .noteText{
    background-color: #89B0AE;
}

/*angle rotations for every note in the minor circle*/

.minorKeys .note:first-child{
    transform: rotate(0deg) skewY(-60deg);
    background-color: blue;
}

.minorKeys .note .noteText{
    position: absolute;
    left: -100%;
    text-align: center;
    padding: 1em;
    background-color: blueviolet;
    width: 200%;
    height: 200%;
    transform: skewY(60deg) rotate(15deg); 
}

.minorKeys .note:nth-child(2){
    transform: rotate(30deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(3){
    transform: rotate(60deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(4){
    transform: rotate(90deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(5){
    transform: rotate(120deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(6){
    transform: rotate(150deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(7){
    transform: rotate(180deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(8){
    transform: rotate(210deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(9){
    transform: rotate(240deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(10){
    transform: rotate(270deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(11){
    transform: rotate(300deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(12){
    transform: rotate(330deg) skewY(-60deg); 
}

/*colors for every note in the minor circle*/
.minorKeys .note:first-child .noteText{
    background-color: #D6EDE8;
}

.minorKeys .note:nth-child(2) .noteText{
    background-color: #BBD2D0;
}

.minorKeys .note:nth-child(3) .noteText{
    background-color: #D6EDE8;
}

.minorKeys .note:nth-child(4) .noteText{
    background-color: #BBD2D0;
}

.minorKeys .note:nth-child(5) .noteText{
    background-color: #D6EDE8;
}

.minorKeys .note:nth-child(6) .noteText{
    background-color: #BBD2D0;
}

.minorKeys .note:nth-child(7) .noteText{
    background-color: #D6EDE8;
}

.minorKeys .note:nth-child(8) .noteText{
    background-color: #BBD2D0;
}

.minorKeys .note:nth-child(9) .noteText{
    background-color: #D6EDE8;
}

.minorKeys .note:nth-child(10) .noteText{
    background-color: #BBD2D0;
}

.minorKeys .note:nth-child(11) .noteText{
    background-color: #D6EDE8;
}

.minorKeys .note:nth-child(12) .noteText{
    background-color: #BBD2D0;
}
