*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

html, body{
    background-color: #FDDF08;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainContainer{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-top: 3em;
    overflow: hidden;
}

.wheelWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5em;
}

.noteNumberContainer{
    position: absolute;
    background-color: #2878ae;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #2878ae;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -63%) rotate(315deg);
}

.noteNumberContainer .noteNumber{
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0% 100%;
    width: 50%;
    height: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.noteNumberContainer .noteNumber .noteNumberText{
    position: absolute;
    left: -100%;
    text-align: center;
    padding: 1em;
    width: 200%;
    height: 200%;
    transform: skewY(60deg) rotate(15deg);
    background-color: hsl(0, 0%, 97%); 
}

.wheelContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(345deg);
    transition: transform 0.8s ease;
}

.majorKeys{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #2878ae;
}

.majorKeys .note{
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0% 100%;
    width: 50%;
    height: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.majorKeys .note .noteText{
    background-color: hsl(0, 0%, 97%)
}

.minorKeys{
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #2878ae;
}

.minorKeys .note{
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: 0% 100%;
    width: 50%;
    height: 50%;
    overflow: hidden;
    border: 1px solid #2878ae;
}

.minorKeys .note .noteText{
    background-color: hsl(0, 10%, 95%);
    font-size: .5em;
}

.wheelBtn{
    border: none;
    border-bottom: 5px solid black;
    border-radius: 25px;
    z-index: 999;
    padding: 16px;
    width: fit-content;
    background-color: #2878ae;
    color: #ffffff;
}

.songsAndChordsContainer{
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

/*angle rotations for every number of note*/
.noteNumberContainer .noteNumber:first-child{
    transform: rotate(0deg) skewY(-60deg);
}

.noteNumberContainer .noteNumber:nth-child(2){
    transform: rotate(30deg) skewY(-60deg);
}

.noteNumberContainer .noteNumber:nth-child(3){
    transform: rotate(60deg) skewY(-60deg);
}

.noteNumberContainer .noteNumber:nth-child(4){
    transform: rotate(90deg) skewY(-60deg);
}

.noteNumberContainer .noteNumber:nth-child(5){
    transform: rotate(120deg) skewY(-60deg);
}

.noteNumberContainer .noteNumber:nth-child(6){
    transform: rotate(150deg) skewY(-60deg);
}

.noteNumberContainer .noteNumber:nth-child(7){
    transform: rotate(180deg) skewY(-60deg);
}

/*angle rotations for every note in the mayor circle and colors of the dots after them*/
.majorKeys .note:first-child{
    transform: rotate(0deg) skewY(-60deg);
}

.majorKeys .note .noteText{
    position: absolute;
    left: -100%;
    text-align: center;
    padding: 1em;
    width: 200%;
    height: 200%;
    transform: skewY(60deg) rotate(15deg); 
}

.majorKeys .note .noteText::after{
    content: "";
    padding: 1em;
    background-color: red;
    clip-path: circle(15%);
}

.majorKeys .note:nth-child(2){
    transform: rotate(30deg) skewY(-60deg);
}

.majorKeys .note:nth-child(2) .noteText::after{
    background-color: yellow;
}

.majorKeys .note:nth-child(3){
    transform: rotate(60deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(3) .noteText::after{
    background-color: green;
}

.majorKeys .note:nth-child(4){
    transform: rotate(90deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(4) .noteText::after{
    background-color: purple;
}

.majorKeys .note:nth-child(5){
    transform: rotate(120deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(5) .noteText::after{
    background-color: orange;
}

.majorKeys .note:nth-child(6){
    transform: rotate(150deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(6) .noteText::after{
    background-color: blue;
}

.majorKeys .note:nth-child(7){
    transform: rotate(180deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(7) .noteText::after{
    background-color: red;
}

.majorKeys .note:nth-child(8){
    transform: rotate(210deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(8) .noteText::after{
    background-color: yellow;
}

.majorKeys .note:nth-child(9){
    transform: rotate(240deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(9) .noteText::after{
    background-color: green;
}

.majorKeys .note:nth-child(10){
    transform: rotate(270deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(10) .noteText::after{
    background-color: purple;
}

.majorKeys .note:nth-child(11){
    transform: rotate(300deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(11) .noteText::after{
    background-color: orange;
}

.majorKeys .note:nth-child(12){
    transform: rotate(330deg) skewY(-60deg); 
}

.majorKeys .note:nth-child(12) .noteText::after{
    background-color: blue;
}

/*angle rotations for every note in the minor circle*/
.minorKeys .note .noteText{
    position: absolute;
    left: -100%;
    text-align: center;
    padding: 1em;
    width: 200%;
    height: 200%;
    transform: skewY(60deg) rotate(15deg); 
}

.minorKeys .note:first-child{
    transform: rotate(0deg) skewY(-60deg);
}

.minorKeys .note:nth-child(2){
    transform: rotate(30deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(3){
    transform: rotate(60deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(4){
    transform: rotate(90deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(5){
    transform: rotate(120deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(6){
    transform: rotate(150deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(7){
    transform: rotate(180deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(8){
    transform: rotate(210deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(9){
    transform: rotate(240deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(10){
    transform: rotate(270deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(11){
    transform: rotate(300deg) skewY(-60deg); 
}

.minorKeys .note:nth-child(12){
    transform: rotate(330deg) skewY(-60deg); 
}
